<div class="contact-form form-vertical">
  {%- assign formId = 'ContactForm' -%}

  {% form 'contact', id: formId %}
    {% render 'form-status', form: form, form_id: formId %}
    <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" placeholder="Full name" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
    <input
      type="email"
      id="{{ formId }}-email"
      name="contact[email]"
      placeholder="Email address"
      autocorrect="off"
      autocapitalize="off"
      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
      aria-required="true"
      {%- if form.errors contains 'email' -%}
        class="input--error"
        aria-invalid="true"
        aria-describedby="{{ formId }}-email-error"
      {%- endif -%}
      >
      {%- if form.errors contains 'email' -%}
        <span id="{{ formId}}-email-error" class="input-error-message">
          <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
          {% include 'icon-error' %}
          <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
        </span>
      {%- endif -%}
    <input type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" placeholder="Phone Number" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
    <textarea rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

    <input type="submit" class="btn" value="Submit">

  {% endform %}
</div>