<div class="page-width">
  <div class="section-header">
    {% if section.settings.title != blank %}
      <h2 class="text-center section-title">
        {{ section.settings.title }}
      </h2>
    {% endif %}
  </div>
  <div class="form-container">
    {% render 'contact-form' %}
  </div>
</div>

<style>
  .form-container {
    text-align: center;
    max-width: 650px;
    margin: auto;
  }
  .form-container input[type="submit"] {
    min-width: 300px;
  }
  h2.section-title {
    font-size: 36px;
  }
</style>

{% schema %}
{
  "name": "Contact Us",
  "class": "index-section section-contactus",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Contact Us"
    }
  ],
  "presets": [
    {
      "name": "Contact Us"
    }
  ]
}
{% endschema %}