
<div class="page-width4546">
<div class="custom-product-banner-tp">

<div class="custom-product-txt">

<h2>Finally,<br>  you can paint <br>art yourself</h2>

<p class="custom-per">Personalized Painting Kit</p>

<div class="cus-btn-one">
 <p> <a href="#">UPLOAD YOUR PHOTO</a></p>
  </div>
  
  <div class="cus-btn-two">
 <p>  <a href="#">PHOTO guidelines</a></p>
  </div>
  </div>
  
  <div class="custom-product-banner-img">
    
     <img src="https://cdn.shopify.com/s/files/1/0595/8405/3429/files/Screen_Shot_2021-08-24_at_1.33.png?v=1631263134">
<!--     <ul>
      <li class="custom-one">
       </li>
      <li class="custom-two"><img src="https://cdn.shopify.com/s/files/1/0595/8405/3429/files/Screen_Shot_2021-08-24_at_1.33_1.png?v=1631263340"></li>
  
    </ul> -->
  </div>
  
  </div>
</div>


{% schema %}
{
  "name": {
    "en": "Custom Image"
  },
  "class": "index-section",
  "settings": [
  
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
         }
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Image with text"
      }
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": {
         "en": "Text"
      }
    },  
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "en": "Button label"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "en": "Button link"
     }
    },
    {
      "type": "text",
      "id": "button_label2",
      "label": {
        "en": "Button label2"
      }
    },
    {
      "type": "url",
      "id": "button_link2",
      "label": {
        "en": "Button link2"
     }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Custom Image"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}