<div class="section-container">
  <div class="main_wrapper d-flex">
    <div class="icon_wrapper">
      {% if section.settings.icon_svg %}
        {{ section.settings.icon_svg }}
      {% else %}
        <img src="{{ section.settings.image | img_url: '40x' }}">
      {% endif %}
    </div>
    <div class="text_wrapper">{{ section.settings.title }}</div>
  </div>
</div>

{% schema %}
{
  "name": "Gift",
  "class": "gift-section",
  "settings": [
    {
      "type": "html",
      "id": "icon_svg",
      "label": "Icon"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Gift"
    }
  ]
}
{% endschema %}