<div class="masterpiece-banner" style="background-image: url({{ section.settings.image | img_url: 'master' }});">
  <div class="page-width">
  	<div class="masterpiece-content">
      <h1>{{ section.settings.title }}</h1>
      <p>{{ section.settings.text }}</p>
      <a href="{{ section.settings.btn_lk }}">{{ section.settings.btn_txt }}</a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Masterpiece Home",
    "settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "IMage"
					},
					{
						"type": "text",
						"id": "title",
						"label": "Title"
					},
					{
						"type": "text",
						"id": "text",
						"label": "Text"
					},
					{
						"type": "text",
						"id": "btn_txt",
						"label": "Button Text"
					},
					{
						"type": "text",
						"id": "btn_lk",
						"label": "Button Link"
					}
				],
				"presets": [
								{
									"name": "Masterpiece Home"
								}
							]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
