<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css" rel="stylesheet" type="text/css" /> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js" type="text/javascript"></script>

<div class="why-ch-jx">
<div class="custom-product-txt font-why">
    <h2>{{ section.settings.heading }}</h2> 
  <div class="slider-how-work">

    <div class="swiper-container it-how-wk">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

          {% for block in section.blocks %}
            <div class="swiper-slide"  data-swiper-autoplay="2000">
             {{ block.settings.paragraph }}
            </div>
          {% endfor %}

        </div>
      
<!--         <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
      
      
    </div>
  </div>
</div>
</div>  




<script>
$(document).ready(function() {

    new Swiper('.slider-how-work .swiper-container', {
        loop: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 9,
        paginationClickable: true,
        spaceBetween: 30,
        breakpoints: {
            1920: {
                slidesPerView: 9,
                spaceBetween: 30
            },
            1200: {
                slidesPerView: 5,
                spaceBetween: 30
            },
            767: {
                slidesPerView: 3,
                spaceBetween: 20
            },
            500: {
                slidesPerView: 2,
                spaceBetween: 10
            }
        }
    });
});

</script> 





{% schema %}
{
  "name": {
    "en": "Delivery Slider"
  },
  "class": "index-section",
  "settings": [
  
  
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Image with text"
      }
    }
  ],

    "name": "Delivery Slider",

    "blocks": [
			{
				"type": "text",
				"name": "slides",
				"settings": [
				
					{
      "type": "richtext",
      "id": "paragraph",
      "label": {
         "en": "Text"
      }
    }  
					
					
				]
			}
		],
  "presets": [
    {
      "name": {
        "en": "Delivery Slider"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %} 