<div class="img-rev-slider-nv font-slider-cf page-width">
  {% assign button_url = '#' %}

  {% if section.settings.button_url != blank %}
    {% assign button_url = section.settings.button_url %}
  {% endif %}
  <div class="image-slider-header section-header">
    <h1 class="section-title h1 image-slider-title">
      {{section.settings.title}}
    </h1>

    <div class="image-slider__description">
      {{ section.settings.description }}
    </div>

    <a class="btn image-slider__button" href="{{ button_url }}">
      {{ section.settings.button_text }}
    </a>
  </div>

  <div class="img-slider-only">  
    {{ section.settings.paragraph3 }}   
    <div class="img-slider-tooo" style="background: {{ section.settings.sectionbg }};">
      <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">  
            {% for block in section.blocks %}
            
              <div class="swiper-slide"  data-swiper-autoplay="5000">
                <div class="skb-author">
                <img class="lazy" data-src="{{  block.settings.image | img_url: '800x800' }}">
                </div>
              
                <div class="image-content">
                  {{ block.settings.paragraph }}
                </div>
              </div>
            
            {% endfor %}
            </div>
        <div class="swiper-paginationbeauty-slider"></div>
      </div>
    </div>
  </div>
</div>

  
<style>
  .image-slider-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 30px;
    padding-bottom: 80px;
  }

  .image-slider-header .image-slider-title {
    font-size: 24px;
  }
  @media (max-width: 768px) {
    .image-slider-header .image-slider-title br {
      display: none;
    }
    .image-slider-header {
      padding-bottom: 0px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .image-slider__description p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .image-slider__description p strong {
    font-family: 'TTNormsProBold';
  }
  .image-slider__description {
    flex: 1;
    margin-top: 15px;
  }
  .img-rev-slider-nv {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #222;
  }
  .img-slider-only {
    width: 100%;
    overflow: hidden;
  }
  @media (max-width: 768px) {
    .img-slider-only {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .image-content {
    margin-top: 10px;
  }
  .image-content p{
    text-align: left;
    color: rgba(34, 34, 34, 0.6);
    font-family: 'TTNormsProRegular';
    font-size: 16px;
  }

  .image-content strong {
    color: #000;
    font-family: 'TTNormsProBold';
    margin-bottom: 12px;
  }

  @media (min-width: 768px) {
    .img-rev-slider-nv {
      flex-direction: row;
    }

    .image-slider-header {
      width: 30%;
    }

    .img-slider-only {
      width: 70%;
    }

    .image-slider-header .image-slider-title {
      font-size: 36px;
    }
  }
</style>

<script>
window.addEventListener("load", function(){
  
  var check = setInterval(function() {
        if($('.img-slider-tooo .swiper-container img.lazy').attr('src').length) {
//           setTimeout(function(){  
            jQuery('.img-slider-tooo').show();
			new Swiper('.img-slider-tooo .swiper-container', {
        loop: true,
        nextButton: '.img-slider-tooo .swiper-button-next',
        prevButton: '.img-slider-tooo .swiper-button-prev',
        pagination: '.swiper-paginationbeauty-slider',
        paginationClickable: true, 
        freeMode:true,
        freeModeMomentum:true,
        freeModeMomentumRatio: 1,
        freeModeMomentumBounce:true,
        freeModeMomentumBounceRatio: 1,
        freeModeMomentumVelocityRatio: 1,
        freeModeSticky:false,
        freeModeMinimumVelocity: 0.02,
        slidesPerView: 2.5,
        spaceBetween: 15,
        // autoplay: {
        // delay: 5000,
        // },
        breakpoints: {
            1920: {
                slidesPerView: 2.5,
                spaceBetween: 15
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 0
            },
           767: {
                slidesPerView: 1,
                spaceBetween: 0
            }
        }
    });
//             }, 1000);
          clearInterval(check)
        }
      }, 1000);
});

</script>





{% schema %}
  {
    "name": "Image Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "What's in the kit?"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Order Now"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button Url"
      },
      {
        "type": "color",
        "id": "sectionbg",
        "label": "Background"
      },
      {
        "type": "richtext",
        "id": "paragraph3",
        "label": {
          "en": "paragraph slider"
        }
      }
   ],
    "name": "Image Slider",

    "blocks": [
			{
				"type": "text",
				"name": "Review",
				"settings": [
				
		{
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
         }
    },			
   {
      "type": "richtext",
      "id": "paragraph",
      "label": {
         "en": "Text para review"
      }
    }

				]
			}
		],
	
    "presets": [
     {
      "name": "Image Slider",
      "category": "Image"
    }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}