
<div class="page-width"> 
<div class="insta-news-letter">
 
<h2>{{ section.settings.heading }}</h2>
{{ section.settings.paragraph22 }} 
  <ul class="clearfix">
    {% for block in section.blocks %}
      <li>
        <a target="_blank" href="{{ block.settings.button_link }}" class="btn-social">
          {{ block.settings.paragraph }}
        </a>
      </li>
    
    {% endfor %}
    </ul>   
  </div>
</div>
<div class="instaa-feed-imgs">
{{ section.settings.paragraph33 }}   
</div>


{% schema %}
{
  "name": {
    "en": "Social Field"
  },
  "class": "index-section",
  "settings": [
  
    
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Image with text"
      }
    },
    {
      "type": "richtext",
      "id": "paragraph22",
      "label": {
         "en": "Text"
      }
    },
{
      "type": "html",
      "id": "paragraph33",
      "label": {
         "en": "Text"
      }
    } 
    
    
  ],
 "name": "More Social",
    "blocks": [
			{
				"type": "text",
				"name": "feature",
				"settings": [
					 
   { 
      "type": "html",
      "id": "paragraph",
      "label": {
         "en": "Text"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "en": "Button link"
     }
    }
				]
			}
		],
  "presets": [
    {
      "name": {
        "en": "Social Field"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}
