<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css" rel="stylesheet" type="text/css" /> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js" type="text/javascript"></script>


<div class="page-width">
<div class="printg-prod-left desktop-view  tech-font-over">

<div class="bott-product txt-prod-lefted">
  <h3>{{ section.settings.heading22 }}</h3>

  <ul>
    
    <li class="only-gb11"><h2>{{ section.settings.heading1 }}</h2> {{ section.settings.paragraph1 }}</li>
    <li class="only-gb22"><h2>{{ section.settings.heading2 }}</h2> {{ section.settings.paragraph2 }}</li>
    <li class="only-gb33"><h2>{{ section.settings.heading3 }}</h2> {{ section.settings.paragraph3 }}</li>
    <li class="only-gb44"><h2>{{ section.settings.heading4 }}</h2> {{ section.settings.paragraph4 }}</li>
    
  </ul>
</div>
  
<div class="bott-product img-right-pring"> 
  
<video width="100%" height="670" controls autoplay="true" loop="true" muted>
  <source src="https://cdn.shopify.com/s/files/1/0595/8405/3429/files/2904206764.mp4?v=1634580710" type="video/mp4">
 
</video> 
  {% comment %}
 <img src="{{ section.settings.image | img_url: '1200x1200' }}">{% endcomment %}
</div>
  </div>


<div class="printg-prod-mobile-view tech-font-over">
 <div class="printgone-e">
<h3>{{ section.settings.heading222 }}</h3>
   <div class="img-right-pring">  
   <video width="100%" height="670" controls autoplay="true" loop="true" muted>
  <source src="https://cdn.shopify.com/s/files/1/0595/8405/3429/files/2904206764.mp4?v=1634580710" type="video/mp4">
</video> 
 {% comment %}    
 <img src="{{ section.settings.image | img_url: '1200x1200' }}">{% endcomment %}
</div> 
</div>
   
<div class="page-width Why-Masterpiece">
  <div class="one-whole">

    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">  
          
          {% for block in section.blocks %}
            <div class="swiper-slide"  data-swiper-autoplay="2000">
              <h2>{{ block.settings.heading }}</h2>
             {{ block.settings.paragraph }}
            </div>
          {% endfor %}

        </div>
      
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      <div class="swiper-pagination22"></div>
      
    </div>
    
  </div>
</div>
</div>
  
  </div>


<script>
$(document).ready(function() {

    new Swiper('.one-whole .swiper-container', {
        loop: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-pagination22',
        paginationClickable: true, 
        slidesPerView: 1,
        spaceBetween: 20,
        breakpoints: {
            1920: {
                slidesPerView: 1,
                spaceBetween: 30
            },
            1200: {
                slidesPerView: 1,
                spaceBetween: 30
            },
            300: {
                slidesPerView: 1,
                spaceBetween: 10
            }
        }
    });
});

</script>





{% schema %}
  {
    "name": "Why Masterpiece",
    "settings": [
      {
      "type": "text",
      "id": "heading22",
      "label": {
        "en": "Heading Top"
      },
      "default": {
        "en": "Image with text"
      }
    },
{
      "type": "text",
      "id": "heading222",
      "label": {
        "en": "Heading Top Mobile"
      },
      "default": {
        "en": "Image with text"
      }
    },
   {
      "type": "text",
      "id": "heading1",
      "label": {
        "en": "Heading slider desktop"
      },
      "default": {
        "en": "Image with text"
      }
    },
   {
      "type": "richtext",
      "id": "paragraph1",
      "label": {
         "en": "paragraph slider desktop"
      }
    },  
{
      "type": "text",
      "id": "heading2",
      "label": {
        "en": "Heading slider desktop"
      },
      "default": {
        "en": "Image with text"
      }
    },
   {
      "type": "richtext",
      "id": "paragraph2",
      "label": {
         "en": "paragraph slider desktop"
      }
    },
 {
      "type": "text",
      "id": "heading3",
      "label": {
        "en": "Heading slider desktop"
      },
      "default": {
        "en": "Image with text"
      }
    },
   {
      "type": "richtext",
      "id": "paragraph3",
      "label": {
         "en": "paragraph slider desktop"
      }
    },
  {
      "type": "text",
      "id": "heading4",
      "label": {
        "en": "Heading slider desktop"
      },
      "default": {
        "en": "Image with text"
      }
    },
   {
      "type": "richtext",
      "id": "paragraph4",
      "label": {
         "en": "paragraph slider desktop"
      }
    }
   
    ],
    "name": "Why Masterpiece",

    "blocks": [
			{
				"type": "text",
				"name": "WhyMasterpiece",
				"settings": [
				
					{
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading Mobile"
      },
      "default": {
        "en": "Image with text"
      }
    },
{
      "type": "richtext",
      "id": "paragraph",
      "label": {
         "en": "Text Mobile"
      }
    }
				]
			}
		],
	
    "presets": [
     {
      "name": "Why Masterpiece",
      "category": "Image"
    }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}