<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css" rel="stylesheet" type="text/css" /> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js" type="text/javascript"></script>



<div class="rev-bg-color font-slider-cf">

<div class="page-width rev-sldr">
  
{{ section.settings.paragraph3 }}  
  
  <div class="reviews-sl">

    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">  
          
          {% for block in section.blocks %}
            <div class="swiper-slide"  data-swiper-autoplay="5000">
              <div class="reviews-author"> <img src="{{  block.settings.image | img_url: '300x300' }}"></div>
              <div class="reviews-img-str">  <img src="{{ 'star-v.PNG' | asset_url }}"/></div>
             <div class="reviews-sl-text">
              {{ block.settings.paragraph }}
              </div>
              
             {{ block.settings.paragraph22 }}
            </div>
          
          {% endfor %}

        </div>
      
<!--         <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
       -->
      
      
      <div class="swiper-paginationkcv-slider"></div>
      
    </div>
    
  </div>
</div>
</div>
  


<script>
$(document).ready(function() {

    new Swiper('.reviews-sl .swiper-container', {
        loop: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-paginationkcv-slider',
        paginationClickable: true, 
        slidesPerView: 3,
        spaceBetween: 20,
        breakpoints: {
            1920: {
                slidesPerView: 3,
                spaceBetween: 30
            },
            768: {
                slidesPerView: 1,
                spaceBetween: 30
            },
            300: {
                slidesPerView: 1,
                spaceBetween: 10
            }
        }
    });
});

</script>





{% schema %}
  {
    "name": "Review Slider",
    "settings": [
     
   {
      "type": "richtext",
      "id": "paragraph3",
      "label": {
         "en": "paragraph slider"
      }
    }
   
    ],
    "name": "Review Slider",

    "blocks": [
			{
				"type": "text",
				"name": "Review",
				"settings": [
				
		{
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
         }
    },			
   {
      "type": "richtext",
      "id": "paragraph",
      "label": {
         "en": "Text para review"
      }
    },
{
      "type": "richtext",
      "id": "paragraph22",
      "label": {
         "en": "Text author"
      }
    }
				]
			}
		],
	
    "presets": [
     {
      "name": "Review Slider",
      "category": "Image"
    }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}