<div class="features-testim clearfix">
  
  <div class="page-width imgov-slider-onlyxt">
  <div class="mian_testim clearfix">
   {% if section.settings.heading != blank %}
       <h2>{{ section.settings.heading }}</h2>
    {% endif %} 
    </div>
    
  <div class="testim_features">
    
    <ul class="clearfix">
    {% for block in section.blocks %}
      <li>
        
       <div class="testim_features_img_c">
      {% if block.settings.image != blank %}
      <img src="{{ block.settings.image | img_url: '500x500' }}"> 
      {% endif %}
        </div>
        
       <img src="{{ 'starsssss.PNG' | asset_url }}"/>   
        
      {% if block.settings.subheading != blank %}
        <p>{{ block.settings.subheading }}</p>
      {% endif %}
        
        {% if block.settings.subheading2 != blank %}
        <p class="testim-author">{{ block.settings.subheading2 }}</p>
      {% endif %} 
        
        
      </li>
    
    {% endfor %}
    </ul>  
    </div></div> 
  </div>


{% schema %}
  {
    "name": "Features Testm Text",
    "settings": [
      {
		"type": "textarea",
		"id": "heading",
		"label": "Heading"
	  }
      
    ],
    "name": "Testm Text",
    "blocks": [
			{
				"type": "text",
				"name": "feature",
				"settings": [
					{
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
         }
    },
                    {
						"type": "textarea",
						"id": "subheading",
						"label": "Sub Title",
						"default": "Enter Content"
					},
                 {
						"type": "textarea",
						"id": "subheading2",
						"label": "Sub Title Author",
						"default": "Enter Content"
					}
				]
			}
		],
    "presets": [
      {
        "category": "Text",
        "name": "Testm Text",
        "settings": {

        }
      }
     ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
