<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css" rel="stylesheet" type="text/css" /> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js" type="text/javascript"></script>



<div class="what-iskit-color font-slider-cf">
<div class="wht-ful-kit-lm font-slider-cf">

  
<div class="page-width what-is-sldr">
<h2>{{ section.settings.heading }}</h2>  
  <div class="destkop-tcnfgf">{{ section.settings.paragraph3 }} </div>
  <div class="what-is-kit-desktop-btn">
  <a href="{{ section.settings.button_link }}" class="btn">
          {{ section.settings.button_label | escape }}
        </a>
  </div>

</div>  
  
  <div class="what-is-kit-outer">
  <div class="what-is-kit">

    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">  
          
          {% for block in section.blocks %}
            <div class="swiper-slide"  data-swiper-autoplay="5000">
              
             <div class="what-is-kit-img"> <img src="{{  block.settings.image | img_url: '800x800' }}"></div>
             
             <div class="what-is-kit-sl-text">
               <h2>{{ block.settings.heading22 }}</h2>  
             
                {{ block.settings.paragraph22 }}
             </div>
            </div>
          {% endfor %}
        </div>
      
<!--         <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
       -->

      <div class="swiper-paginationwhat-kit"></div> 
    </div>
  </div>
</div>
  
   <div class="what-is-kit-mobile-btn">
               <a href="{{ section.settings.button_link }}" class="btn">
          {{ section.settings.button_label | escape }}
        </a>
</div>
</div> 
</div>
  


<script>
$(document).ready(function() {

    new Swiper('.what-is-kit .swiper-container', {
        loop: true,
        nextButton: '.what-is-kit .swiper-button-next',
        prevButton: '.what-is-kit .swiper-button-prev',
        pagination: '.swiper-paginationwhat-kit',
        paginationClickable: true, 
        slidesPerView: 3,
        spaceBetween: 70,
        breakpoints: {
            1920: {
                slidesPerView: 3,
                spaceBetween: 70
            },
            768: {
                slidesPerView: 1,
                spaceBetween: 30
            },
            300: {
                slidesPerView: 1,
                spaceBetween: 10
            }
        }
    });
});

</script>





{% schema %}
  {
    "name": "What is Slider",
    "settings": [
     
   {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Image with text"
      }
    },
    {
      "type": "richtext",
      "id": "paragraph3",
      "label": {
         "en": "Text kit para"
      }
    },  
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "en": "Button label"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "en": "Button link"
     }
    }
   
    ],
    "name": "What is Slider",

    "blocks": [
			{
				"type": "text",
				"name": "Review",
				"settings": [
				
		{
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
         }
    },			
  {
      "type": "text",
      "id": "heading22",
      "label": {
        "en": "Heading slider"
      },
      "default": {
        "en": "Image with text slider"
      }
    },
{
      "type": "richtext",
      "id": "paragraph22",
      "label": {
         "en": "Text para"
      }
    }
				]
			}
		],
	
    "presets": [
     {
      "name": "What is Slider",
      "category": "Image"
    }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}