<div class="page-width contact-pageW">
  <div class="grid">
    <div class="grid__item contact-page medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      {% if page.content.size > 0 %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %}

      <div class="contact-form form-vertical">
        {%- assign formId = 'ContactForm' -%}
        {% form 'contact', id: formId %}
          {% include 'form-status', form: form, form_id: formId %}

<!--           <div class="grid grid--half-gutters">
            <div class="grid__item medium-up--one-half"> 
              <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label> -->
              <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" placeholder="Full name" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
<!--             </div>
            <div class="grid__item medium-up--one-half"> 
              <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label> -->
              <input
                type="email"
                id="{{ formId }}-email"
                name="contact[email]"
                placeholder="Email address"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
              {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
              {%- endif -%}
<!--             </div>
          </div>

          <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label> -->
          <input type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" placeholder="Phone Number" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

<!--           <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label> -->
          <textarea rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

          <input type="submit" class="btn" value="Submit">

        {% endform %}
        <div class="foot-contact">
          <div class="row">
            <div class="site-footer__rte gamailtxt-tx d">
            <div class="col-md-4">
              <p><a href="#">@mymasterpieceshop </a></p>
              <p>
                <a href="mailto:contact@mymasterpiece.shop">contact@mymasterpiece.shop</a></p>
              </div>
            <div class="col-md-4">
              <a href="mailto:+%20347.206.2764">+ 347.206.2764</a>
            </div>
            <div class="col-md-4">
              <p>236 N12th Street,<br>Brooklyn, NY, 11211</p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
